@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap");

:root {
  --primary-color: #388e3c;
  --secondary-color: #4caf50;
  --gray: #424242;
}

body {
  overflow: hidden;
  margin: 0rem;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #e8f5e9;
}

.div-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
  background-color: #c8e6c9;
  padding-bottom: 1rem;
  height: 100vh;
  padding-top: 1rem;
}

h1 {
  font-size: 5rem;
  margin-top: 0rem;
  /* padding-top: 0.5rem; */
  margin-bottom: 0.2rem;
  color: var(--primary-color);
}

small {
  color: var(--gray);
}

/* labels and Input */
input {
  font-size: 1.2rem;
  padding: 1rem;
  border: 1px solid;
  border-radius: 8px;
  background-color: #e8f5e9;
}

.label-bill {
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.input-bill {
  margin-left: 1rem;
}

.label-cash {
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.input-cash {
  margin-left: 1.7rem;
}

/* Button */
button {
  margin: 1.5rem;
  font-size: 0.9em;
  border-style: none;
  padding: 1em 2em;
  border-radius: 30px;
  cursor: pointer;
  color: white;

  background-color: var(--primary-color);
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--gray);
}

button:active {
  background-color: var(--primary-color);
  transform: translateY(2px);
  transition: 0.2s;
  box-shadow: 2px 4px;
}

/* output */
.div-output {
  border: 1px solid var(--gray);
  padding: 1em;
  min-height: 90px;
  max-width: 400px;
  margin: auto;
  background-color: #e8f5e9;
  border-radius: 8px;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  padding: 1em 0em;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0.2rem;
  border-top-left-radius: 2rem;
  text-align: center;
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
  width: 800px;
}

.footer-heading {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

footer ul {
  padding-inline-start: 0px;
  list-style: none;
}

footer li {
  display: inline-block;
}

footer a {
  color: white;
  padding: 1rem;
  text-decoration: none;
}

/* .list-non-bullet{
list-style: none;
} */

/* .list-element-inline{
display: inline-block;
} */